/*-- scss:defaults --*/

// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Quicksand:wght@300..700&display=swap');

// Colors
$dark-green: #3e6d62;
$white: #fcfcfc;
$black: #000000;

// Base document colors
$navbar-bg: $dark-green; // navbar
$navbar-fg: $white; // navbar foreground elements
$body-bg: $white; // page background 
$body-color: $black; // page text 
