/*-- scss:defaults --*/

// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Forum&family=Quicksand:wght@300..700&display=swap');

// Colors
$dark-grey: #303332;
$white: #fcfcfc;
$black: #000000;

// Base document colors
$navbar-bg: $black; // navbar
$navbar-fg: $white; // navbar foreground elements
$body-bg: $dark-grey; // page background 
$body-color: $white; // page text 
