/*-- scss:defaults --*/

// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Forum&family=Quicksand:wght@300..700&display=swap');

// Colors
$warm-white: #F8F7F4;
$stone: #EFEFEB;
$slate-teal: #3D7A72;
$sage: #7A9E96;
$charcoal: #2C2C2C;
$warm-grey: #7A7A72;
$light-stone: #D9D9D3;

// Base document colors
$navbar-bg: $stone;        // navbar
$navbar-fg: $charcoal;     // navbar foreground elements
$body-bg: $warm-white;     // page background
$body-color: $charcoal;    // page text
$link-color: $slate-teal;  // links

.navbar-logo {
  max-height: 80px !important;  // change this to whatever size you want
  width: auto;
  padding-right: 4px;
}

// Project cards
.card {
  background-color: $stone;
  color: $charcoal;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

// Project buttons
.btn-primary {
  background-color: $slate-teal !important;
  border-color: $slate-teal !important;
  color: $warm-white !important;
  border-radius: 6px;
  padding: 8px 18px;
  text-decoration: none;

  &:hover {
    background-color: $sage !important;
    border-color: $sage !important;
  }
}
